
    <head>
        <title>Approval - Komunitas Usaha Bersama</title>
        <style>
            #datatablesSimple th:first-child, 
            #datatablesSimple td:first-child {
                width: 50px;
                text-align: center;
            }
        </style>
    </head>
    {% extends "base.html" %}
    {% block content %}
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Approval</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="{{url_for('index')}}">Dashboard</a></li>
                            <li class="breadcrumb-item active">Approval</li>
                        </ol>
                        <!-- <div class="card mb-4">
                            <div class="card-body">
                                DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the
                                <a target="_blank" href="https://datatables.net/">official DataTables documentation</a>
                                .
                            </div>
                        </div> -->
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                New User List
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th data-sortable="false"><input type="checkbox" id="selectAll"></th>
                                            <th>Name</th>
                                            <th>NIK</th>
                                            <th>No WA</th>
                                            <th>Email</th>
                                            <th>User ID</th>
                                            <th>Referral Code</th>
                                            <th>Created</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Name</th>
                                            <th>NIK</th>
                                            <th>No WA</th>
                                            <th>Email</th>
                                            <th>User ID</th>
                                            <th>Referral Code</th>
                                            <th>Created</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr>
                                            <td><input type="checkbox" class="row-checkbox"></td>
                                            <td>Tiger Nixon</td>
                                            <td>48295820583xxxx</td>
                                            <td>082398454</td>
                                            <td>tiger@email.com</td>
                                            <td>tiger052</td>
                                            <td>ITOWE04</td>
                                            <td>2025-02-12 05:12:00</td>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox" class="row-checkbox"></td>
                                            <td>Garrett Winters</td>
                                            <td>48295820583xxxx</td>
                                            <td>081329328494</td>
                                            <td>garrett@email.com</td>
                                            <td>garrett658</td>
                                            <td>DSFBIF52</td>
                                            <td>2025-02-12 05:12:00</td>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox" class="row-checkbox"></td>
                                            <td>Ashton Cox</td>
                                            <td>48295820583xxxx</td>
                                            <td>08173456324</td>
                                            <td>asthon@email.com</td>
                                            <td>asthon590</td>
                                            <td>SDKJFH5X</td>
                                            <td>2025-02-12 05:12:00</td>
                                        </tr>
                                        <tr>
                                    </tbody>
                                </table>
                                <div class="d-flex align-items-center gap-3 mt-4 mb-0">
                                    <!-- <a class="small" href="password.html">Forgot Password?</a> -->
                                    <a class="btn btn-primary" href="index.html">Approve</a>
                                    <a class="btn btn-danger" href="#">Reject</a>
                                </div>
                            </div>
                        </div>
                    </div>
        <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}" crossorigin="anonymous"></script>
        <script src="{{url_for('static', filename='js/scripts.js')}}"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
        <script src="{{url_for('static', filename='js/datatables-simple-demo.js')}}"></script>
        {% endblock %}

