<!DOCTYPE html>
<html lang = "id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    
    <!-- Bootstrap -->
     <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
     <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
     <style>
        @media (min-width: 768px) { /* Hanya untuk tablet & desktop */
          .custom-container {
            max-width: 30%; /* Membatasi lebar maksimal */
          }
        }
      </style>
</head>
<body>
<div class="container-fluid mt-5 custom-container"> 
    <!-- Navigation Pills -->
     <ul class="nav nav-pills nav-justified mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pills-login-tab" data-bs-toggle="pill" data-bs-target="#pills-login"
            type="button" role="tab">Login</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-register-tab" data-bs-toggle="pill" data-bs-target="#pills-register"
            type="button" role="tab">Register</button>
        </li>
     </ul>

     <!-- Pills Content -->
      <div class="tab-content">
        <!-- Login Tab -->
         <div class="tab-pane fade show active" id="pills-login" role="tabpanel">
            <form method="post">
                <!-- Email Input -->
                <div class="mb-3">
                    <label for="loginEmail" class="form-label">Email or username</label>
                    <input name="username" type="email" class="form-control" id="loginEmail">
                </div>

                <!-- Password Input -->
                 <div class="mb-3">
                    <label for="loginPassword" class="form-label">Password</label>
                    <input name="password" type="password" class="form-control" id="loginPassword">
                 </div>

                <!-- Remember Me & Forgot Password-->
                  <div class="d-flex justify-content-between mb-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="rememberMe">
                        <label class="form=check-label" for="rememberMe">Remember me</label>
                    </div>
                    <a href="#">Forgot Password</a>
                  </div>

                <!-- Submit Button -->
                 <button type="submit" class="btn btn-primary w-100">Sign In</button>

                 <div class="text-center mt-3">
                    <p>Not a member? <a href="#pills-register">Register</a>
                    </p>
                 </div>
            </form>
         </div>
         
        <!-- Register Tab--> 
         <div class="tab-pane fade" id="pills-register" role="tabpanel">
            <form method="post">
                <div class="d-flex justify-content-between gap-3 mb-3">
                    <!-- Name Input -->
                    <div class="w-50">
                        <label for="registerName" class="form-label">Nama</label>
                        <input type="text" class="form-control" id="registerName">
                    </div>

                    <!-- NIK Input -->
                    <div class="w-50">
                        <label for="registerNIK" class="form-label">NIK</label>
                        <input type="text" class="form-control" id="registerNIK">
                    </div>    
                </div>
                <!-- Alamat Input -->
                <div class="mb-3">
                    <label for="registerAlamat" class="form-label">Alamat</label>
                    <input type="text" class="form-control" id="registerAlamat">
                 </div>
                
                <div class="d-flex justify-content-between gap-3 mb-3">
                    <!-- No WA -->
                    <div class="w-50">
                        <label for="registerWA" class="form-label">No. WA</label>
                        <input type="text" class="form-control" id="registerWA">
                     </div>
                    
                    <!-- Email Register -->
                    <div class="w-50">
                        <label for="registerEmail" class="form-label">Email</label>
                        <input type="email" class="form-control" id="registerEmail">
                     </div>
                </div>

                <div class="d-flex justify-content-between gap-3 mb-5">
                    <div class="w-33">
                        <label for="registerNamaBank" class="form-label">Nama Bank</label>
                        <input type="text" class="form-control" id="registerNamaBank">
                     </div>
    
                    <!-- No Rek -->
                    <div class="w-33">
                        <label for="registerNoRek" class="form-label">No. Rek</label>
                        <input type="text" class="form-control" id="registerNoRek">
                     </div>
    
                    <!-- Nama Rek -->
                    <div class="w-33">
                        <label for="registerNamaRek" class="form-label">Nama di Rek</label>
                        <input type="text" class="form-control" id="registerNamaRek">
                     </div>
                </div>
                <hr class="my-4 border border-1">
                <div class="d-flex justify-content-between gap-3 mb-3">
                    <!-- Kode Account -->
                    <div class="w-33">
                        <label for="registerKodeAccount" class="form-label">Kode Account</label>
                        <input type="text" class="form-control" id="registerKodeAccount">
                     </div>
    
                    <!-- Password -->
                    <div class="w-33">
                        <label for="registerPassword" class="form-label">Password</label>
                        <input type="password" class="form-control" id="registerPassword">
                     </div>
    
                    <!-- Repeat Password -->
                    <div class="w-33">
                        <label for="registerRepeatPassword" class="form-label">Repeat Password</label>
                        <input type="password" class="form-control" id="registerRepeatPassword">
                     </div>
                </div>

                <!-- Referral -->
                <div class="mb-3">
                    <label for="referralCode" class="form-label">Referral Code</label>
                    <input type="text" class="form-control" id="referralCode">
                 </div>

                <!-- Submit Button -->
                <button type="submit" class="btn btn-primary w-100">Sign Up</button>
            </form>
         </div>


      </div>
</div>
</body>

</html>